html {
    scroll-behavior: smooth;
}

body {
    scroll-behavior: smooth;
    line-height: 1.2;
    color: #424242;
    font-family: Montserrat;
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    background-color: #fff;
    letter-spacing: -0.04em;

    &._noscroll {
        overflow: hidden;
    }

    &::-webkit-scrollbar {
    }

    &::-webkit-scrollbar-thumb {
    }
}

.wrapper {
    min-height: 100%;
    scroll-behavior: smooth;
    overflow-x: clip;

    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 auto;

    & > :first-child {
        margin-top: 60px;

        @media (max-width: 768px) {
            margin-top: 10px;
        }
    }

    & > .wp-block-columns {
        &:nth-child(2) {
            margin-top: 60px;

            @media (max-width: 768px) {
                margin-top: 10px;
            }
        }
    }
}

._container {
    width: 100%;
    margin-inline: auto;
    max-width: $containerSmall + px;

    @media (max-width: $containerSmallWithPadding + px) {
        max-width: none;
        padding-inline: $padding + px;
    }

    // ._container-big

    &-big {
        width: 100%;
        max-width: $container + px;
        margin-inline: auto;

        @media (max-width: $containerWithPadding + px) {
            max-width: none;
            padding-inline: $padding + px;
        }
    }
}

section {
    margin-bottom: 120px;

    @media (max-width: 768px) {
        margin-bottom: 100px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: -0.04em;
    font-family: Inter Hewn;
    text-transform: uppercase;
}

._inter {
    font-family: Inter Hewn;
    letter-spacing: -0.06em;
}

._namu-pro {
}

h1 {
    @include adaptive-value("font-size", 48, 28, 1);
}

h2 {
    @include adaptive-value("font-size", 36, 20, 1);
}

h3,
h4,
h5,
h6 {
    font-size: 20px;
}

p {
}

a {
    color: inherit;
}

._italic {
    font-style: italic;
}

img + p._italic {
    margin-top: 10px;
}

.slider-buttons {
    button {
        img,
        svg {
        }
    }
}

figure,
img,
svg {
    display: block;
    width: 100%;
    max-width: 100%;
}

._btn {
    width: 100%;
    max-width: 300px;
    margin-inline: auto;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-family: Inter Hewn;
    border-radius: 18px;

    // ._btn-border

    &-border {
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent;
        position: relative;
        overflow: hidden;

        &:before {
            position: absolute;
            content: "";
            inset: 0;
            background: linear-gradient(134deg, #689bff 0%, #2871ff 98.16%);
            z-index: -1;

            border-radius: 19px;
        }

        &:after {
            position: absolute;
            content: "";
            background-color: #fff;
            border-radius: 18px;
            z-index: -1;
            width: calc(100% - 1px);
            height: calc(100% - 2px);
            left: 1px;
            top: 1px;

            @media (any-hover: none) {
                width: calc(100% - 2px);
            }
        }
    }
}

._more {
    display: flex;
    align-items: center;
    text-decoration: underline;
    margin-inline: auto;
    width: fit-content;

    &:not(:last-child) {
        margin-bottom: 30px;
    }

    &:after {
        content: "";
        background-image: url("@img/icons/arrow.svg");
        width: 1em;
        height: 0.5em;
        margin-left: 0.5em;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

._gradient {
    background: linear-gradient(134deg, #689bff 0%, #2871ff 98.16%);
}
