.form {
    // .form__rows

    &__rows {
        // .form__rows-item

        &-item {
        }

        // .form__rows-content

        &-content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: flex-end;
            gap: 10px 20px;

            @media (max-width: 768px) {
                display: block;
                gap: 0;

                & > :not(:last-child) {
                    margin-bottom: 10px;
                }
            }
        }
    }

    // .form__input

    &__input {
        @media (max-width: 768px) {
            width: 100%;
        }

        input {
            font-family: inter Hewn;
            border: 1px solid #dbdbdb;
            border-radius: 15px;

            padding: 16px;
            width: 100%;
            font-size: 14px;
            height: 50px;
            color: inherit;

            &::placeholder {
                color: #cccccc;
            }

            @media (max-width: 768px) {
                max-width: none;
            }
        }
    }

    // .form__button

    &__button {
        position: relative;

        input {
            cursor: pointer;
            height: 50px;
            font-size: 14px;
            border-radius: 15px;

            @media (max-width: 768px) {
                max-width: none;
            }
        }

        .wpcf7-spinner {
            position: absolute;
            bottom: 0;
            transform: translate(-50%, 28px);
            left: 50%;
            margin: 0;
        }
    }
}

.wpcf7-response-output {
    border-radius: 20px;
    text-align: center !important;
    margin-inline: 0 !important;
}

.invalid .wpcf7-response-output {
    border-color: #d20023 !important;
}
