.breadcrumbs {
    margin-top: 0 !important;
    width: 100%;
    margin-bottom: 25px;

    ul {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        @media (max-width: 768px) {
            justify-content: center;
        }
    }

    li {
        display: flex;
        align-items: center;

        &:not(:has(a)) {
            color: #9a9a9a;
        }

        span {
            max-width: 120px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #cccccc;
            display: block;
        }

        a {
            span {
                background: linear-gradient(134deg, #689bff 0%, #2871ff 98.16%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }

    svg {
        margin: 0 9px;
        display: block;
        width: 11px;
        flex: 0 0 auto;
    }
}

.anchors {
    margin-top: 25px;

    span {
        text-align: left;
        display: block;
    }

    // .anchors-scroll

    &-scroll {
        @media (max-width: 768px) {
            overflow-y: auto;
            width: 100vw;
            left: 50%;
            transform: translate(-50%, 0);
            position: relative;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    ul {
        display: flex;
        align-items: center;
        justify-content: flex-start !important;
        gap: 5px;
        margin-top: 10px !important;

        @media (max-width: 768px) {
            padding-inline: 30px;
            width: fit-content;
            flex-wrap: nowrap !important;
        }
    }

    li {
        display: block;
        padding: 0 !important;

        @media (max-width: 768px) {
            flex: 0 0 auto;
        }

        &:before {
            display: none;
        }

        a {
            display: block;
            white-space: nowrap;
            text-align: center;

            background: #f3f3f3;
            padding: 8px 11px;
            border-radius: 40px;
        }
    }
}

.table-meta {
    margin-top: 30px;

    & > :last-child {
        border-bottom: 1px solid #dbdbdb;
    }

    div {
        display: flex;
        align-items: center;
        justify-content: space-between;

        border-top: 1px solid #dbdbdb;
        padding: 5px 0;

        & > :not(:last-child) {
            margin-right: 10px;
        }

        span {
            text-align: left;
            color: #cccccc;
        }

        label {
            text-align: left;
        }
    }
}
